# Data Cleaning

Tong Shu Li

Michael was concerned about all the zero entries we were seeing in the annotated dataset, and wanted to see if this was a reproducible problem. We will try the analysis again with data that is closer to the original raw data.

In [1]:
import numpy as np
import pandas as pd

---

## Read the data to be cleaned

In [2]:
data = pd.read_csv("Q1_all_data_minimun.raw", sep = '\t')

In [3]:
data.head()

,wormbaseid,symbol,seqname,fdr,pvalue,fdr.1,cpms1,cpms2,cpms3,cpms4,...,cpms9,cpms10,cpms11,cpms12,td_day3_h2o,td_day5_h2o,td_day10_h2o,td_day3_mia,td_day5_mia,td_day10_mia
0,WBGene00022521,ZC132.2,ZC132.2,0.808194,0.716325,0.808194,0.000226,0.000189,0.018708,0.000291,...,0.000228,0.021397,0.226813,0.010630,-0.180686,4.415016,0.250226,-0.141209,6.319571,2.838883
1,WBGene00019835,R02F2.6,R02F2.6,0.892494,0.836250,0.892494,0.000228,0.000278,0.142758,0.179309,...,0.014849,0.033718,0.012842,0.000215,0.197518,6.440157,6.668119,0.165077,4.036233,4.203290
2,WBGene00006011,srx-120,F49C5.2,0.673727,0.534582,0.673727,0.000262,0.032145,0.048001,0.329360,...,0.011162,0.073430,0.081031,0.000369,4.810095,5.211058,7.136997,3.250996,5.125083,3.317961
3,WBGene00022884,ZK1248.17,ZK1248.17,0.183150,0.072977,0.183150,0.000275,0.015513,0.092586,0.021195,...,0.053637,0.036642,0.051591,0.048442,4.033940,5.820385,4.345997,0.106907,0.126213,-0.100482
4,WBGene00005435,srh-227,C35D6.2,0.978353,0.964520,0.978353,0.000298,0.000356,0.051900,0.033524,...,0.107932,0.336793,0.059327,0.056707,0.175939,5.158204,4.721129,0.125642,3.808174,4.435915

In [4]:
data.shape

(19169, 24)

In [5]:
data.columns

Index(['wormbaseid', 'symbol', 'seqname', 'fdr', 'pvalue', 'fdr.1', 'cpms1',
       'cpms2', 'cpms3', 'cpms4', 'cpms5', 'cpms6', 'cpms7', 'cpms8', 'cpms9',
       'cpms10', 'cpms11', 'cpms12', 'td_day3_h2o', 'td_day5_h2o',
       'td_day10_h2o', 'td_day3_mia', 'td_day5_mia', 'td_day10_mia'],
      dtype='object')

## Read the metadata file

In [6]:
metadata = pd.read_csv("sample_metadata.tsv", sep = '\t')

In [7]:
metadata

,sample_name,day_add_drug,day_harvest_rna,sample_num,drug_conc_uM,drug_given
0,CPM.S1,1,1,1,0,water
1,CPM.S2,1,3,2,0,water
2,CPM.S3,1,5,3,0,water
3,CPM.S4,1,10,4,0,water
4,CPM.S5,1,3,5,50,mianserin
5,CPM.S6,1,5,6,50,mianserin
6,CPM.S7,1,10,7,50,mianserin
7,CPM.S8,3,5,8,50,mianserin
8,CPM.S9,3,10,9,50,mianserin
9,CPM.S10,5,10,10,50,mianserin
10,CPM.S11,1,5,11,2,mianserin
11,CPM.S12,1,5,12,10,mianserin

---

## Drop some columns

We don't care about the false discovery rate columns for the drift analysis, and will drop them for simplicity.

In [8]:
data = data.drop(["fdr", "pvalue", "fdr.1"], axis = 1)

In [9]:
data.shape

(19169, 21)

In [10]:
data.head()

,wormbaseid,symbol,seqname,cpms1,cpms2,cpms3,cpms4,cpms5,cpms6,cpms7,...,cpms9,cpms10,cpms11,cpms12,td_day3_h2o,td_day5_h2o,td_day10_h2o,td_day3_mia,td_day5_mia,td_day10_mia
0,WBGene00022521,ZC132.2,ZC132.2,0.000226,0.000189,0.018708,0.000291,0.000197,0.125649,0.003868,...,0.000228,0.021397,0.226813,0.010630,-0.180686,4.415016,0.250226,-0.141209,6.319571,2.838883
1,WBGene00019835,R02F2.6,R02F2.6,0.000228,0.000278,0.142758,0.179309,0.000269,0.012900,0.015246,...,0.014849,0.033718,0.012842,0.000215,0.197518,6.440157,6.668119,0.165077,4.036233,4.203290
2,WBGene00006011,srx-120,F49C5.2,0.000262,0.032145,0.048001,0.329360,0.006761,0.044046,0.007229,...,0.011162,0.073430,0.081031,0.000369,4.810095,5.211058,7.136997,3.250996,5.125083,3.317961
3,WBGene00022884,ZK1248.17,ZK1248.17,0.000275,0.015513,0.092586,0.021195,0.000306,0.000312,0.000248,...,0.053637,0.036642,0.051591,0.048442,4.033940,5.820385,4.345997,0.106907,0.126213,-0.100482
4,WBGene00005435,srh-227,C35D6.2,0.000298,0.000356,0.051900,0.033524,0.000338,0.013454,0.025205,...,0.107932,0.336793,0.059327,0.056707,0.175939,5.158204,4.721129,0.125642,3.808174,4.435915

## Check the drift columns

There are some drift columns already calculated. We will see if we can verify that these columns are correct.

In [11]:
test = np.log((data["cpms2"] / data["cpms1"]))

In [12]:
(data["td_day3_h2o"] - test).describe()

count    1.916900e+04
mean     4.209456e-08
std      1.038178e-05
min     -2.221980e-04
25%     -1.575530e-07
50%     -9.039674e-10
75%      1.546911e-07
max      2.437076e-04
dtype: float64

In [13]:
test = np.log(data["cpms3"] / data["cpms1"])
(data["td_day5_h2o"] - test).describe()

count    1.916900e+04
mean     1.010910e-07
std      9.348391e-06
min     -1.276875e-04
25%     -1.603874e-07
50%     -2.138354e-10
75%      1.633267e-07
max      1.817245e-04
dtype: float64

The values all seem to be off by a little bit. I'm not sure why this is happening, but we will discard all of the precalculated drift columns and calculate them from the raw cpm values.

## Drop the precalculated drift values

In [14]:
data = data.drop(
    [
        'td_day3_h2o', 'td_day5_h2o', 'td_day10_h2o',
        'td_day3_mia', 'td_day5_mia', 'td_day10_mia'
    ],
    axis = 1
)

In [15]:
data.shape

(19169, 15)

In [16]:
data.head()

,wormbaseid,symbol,seqname,cpms1,cpms2,cpms3,cpms4,cpms5,cpms6,cpms7,cpms8,cpms9,cpms10,cpms11,cpms12
0,WBGene00022521,ZC132.2,ZC132.2,0.000226,0.000189,0.018708,0.000291,0.000197,0.125649,0.003868,0.012943,0.000228,0.021397,0.226813,0.010630
1,WBGene00019835,R02F2.6,R02F2.6,0.000228,0.000278,0.142758,0.179309,0.000269,0.012900,0.015246,0.009459,0.014849,0.033718,0.012842,0.000215
2,WBGene00006011,srx-120,F49C5.2,0.000262,0.032145,0.048001,0.329360,0.006761,0.044046,0.007229,0.051095,0.011162,0.073430,0.081031,0.000369
3,WBGene00022884,ZK1248.17,ZK1248.17,0.000275,0.015513,0.092586,0.021195,0.000306,0.000312,0.000248,0.000269,0.053637,0.036642,0.051591,0.048442
4,WBGene00005435,srh-227,C35D6.2,0.000298,0.000356,0.051900,0.033524,0.000338,0.013454,0.025205,0.027904,0.107932,0.336793,0.059327,0.056707

---

## Check that no cells are empty

In [17]:
data.isnull().sum()

wormbaseid    0
symbol        0
seqname       0
cpms1         0
cpms2         0
cpms3         0
cpms4         0
cpms5         0
cpms6         0
cpms7         0
cpms8         0
cpms9         0
cpms10        0
cpms11        0
cpms12        0
dtype: int64

## Check that no expression values are zero

In [18]:
(data == 0).sum()

wormbaseid    0
symbol        0
seqname       0
cpms1         0
cpms2         0
cpms3         0
cpms4         0
cpms5         0
cpms6         0
cpms7         0
cpms8         0
cpms9         0
cpms10        0
cpms11        0
cpms12        0
dtype: int64

## Reshape the dataframe

We now reshape the dataframe to long format.

In [19]:
def reshape(data, id_cols):
    def make_df(column):
        sub = data.loc[:, id_cols + [column]]
        sub = sub.rename(columns = {column: "cpm_val"})
        sub["sample"] = int(column[4 :]) # skip the "cpms"
        return sub
    
    temp = [
        make_df(column)
        for column in data.columns if column not in id_cols
    ]
    
    return pd.concat(temp).reset_index(drop = True)

In [20]:
res = reshape(data, ["wormbaseid", "symbol", "seqname"])

In [21]:
res.head()

       wormbaseid     symbol    seqname   cpm_val  sample
0  WBGene00022521    ZC132.2    ZC132.2  0.000226       1
1  WBGene00019835    R02F2.6    R02F2.6  0.000228       1
2  WBGene00006011    srx-120    F49C5.2  0.000262       1
3  WBGene00022884  ZK1248.17  ZK1248.17  0.000275       1
4  WBGene00005435    srh-227    C35D6.2  0.000298       1

In [22]:
res.shape

(230028, 5)

In [23]:
res["sample"].value_counts()

12    19169
11    19169
10    19169
9     19169
8     19169
7     19169
6     19169
5     19169
4     19169
3     19169
2     19169
1     19169
Name: sample, dtype: int64

In [24]:
res["wormbaseid"].nunique()

19169

## Add the metadata for each sample

In [25]:
info = pd.merge(res, metadata, how = "left", left_on = "sample", right_on = "sample_num")
info = info.drop(["sample_name", "sample_num"], axis = 1)

In [26]:
info.head()

,wormbaseid,symbol,seqname,cpm_val,sample,day_add_drug,day_harvest_rna,drug_conc_uM,drug_given
0,WBGene00022521,ZC132.2,ZC132.2,0.000226,1,1,1,0,water
1,WBGene00019835,R02F2.6,R02F2.6,0.000228,1,1,1,0,water
2,WBGene00006011,srx-120,F49C5.2,0.000262,1,1,1,0,water
3,WBGene00022884,ZK1248.17,ZK1248.17,0.000275,1,1,1,0,water
4,WBGene00005435,srh-227,C35D6.2,0.000298,1,1,1,0,water

In [27]:
info["sample"].value_counts()

12    19169
11    19169
10    19169
9     19169
8     19169
7     19169
6     19169
5     19169
4     19169
3     19169
2     19169
1     19169
Name: sample, dtype: int64

In [28]:
info.shape

(230028, 9)

---

## Calculating drift

Drift is defined as:

$$
    D = log(\frac{cpm_{old}}{cpm_{young}})
$$

which is equivalent to:

$$
    D = log(cpm_{old}) - log(cpm_{young})
$$

In [29]:
info["log_cpm"] = np.log(info["cpm_val"])

In [30]:
ref = info.query("sample == 1")[["wormbaseid", "log_cpm"]]
ref = ref.rename(columns = {"log_cpm": "ref_log_cpm"})

In [31]:
ref.head()

       wormbaseid  ref_log_cpm
0  WBGene00022521    -8.393649
1  WBGene00019835    -8.386604
2  WBGene00006011    -8.247548
3  WBGene00022884    -8.199831
4  WBGene00005435    -8.116741

In [32]:
info = pd.merge(info, ref, how = "left", on = "wormbaseid")

In [33]:
info["drift"] = info["log_cpm"] - info["ref_log_cpm"]

In [34]:
info.head()

,wormbaseid,symbol,seqname,cpm_val,sample,day_add_drug,day_harvest_rna,drug_conc_uM,drug_given,log_cpm,ref_log_cpm,drift
0,WBGene00022521,ZC132.2,ZC132.2,0.000226,1,1,1,0,water,-8.393649,-8.393649,0.0
1,WBGene00019835,R02F2.6,R02F2.6,0.000228,1,1,1,0,water,-8.386604,-8.386604,0.0
2,WBGene00006011,srx-120,F49C5.2,0.000262,1,1,1,0,water,-8.247548,-8.247548,0.0
3,WBGene00022884,ZK1248.17,ZK1248.17,0.000275,1,1,1,0,water,-8.199831,-8.199831,0.0
4,WBGene00005435,srh-227,C35D6.2,0.000298,1,1,1,0,water,-8.116741,-8.116741,0.0

## Write data to file

In [35]:
info.to_csv("mean_cpm_values.tsv", sep = '\t', index = False)